#dropdown{
    text-align: center;
    height: auto;transition: height 0.3s ease-in;
   

   h4, input,button{
        margin-top: 20px;transition: height 0.3s ease-in;

    }
  
}
.afDrop{
    text-align: center;
    background: #F5F5F5;
    border-radius: 5px;
    margin-top: 2%;
    transition: height 0.3s ease-in;

}