$black:#14171A;
.sidenav{
    position: relative;
    min-height: 100VH;
    top: 0;
  bottom: 0;
  background-color: #0072b1;
    text-align: center;
    overflow: hidden;
    padding: 2% 0;
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    min-height: 100vh;
    width: 299px;
    &_brand{
        height: 20%;
        width: 100%;
        img{
          width: 100%;
        }

    }
    &_list{
        width: 100%;
        height: 80%;
         ul{
             display: flex;
             flex-direction: column;
             align-items: flex-end;

             li{
               display: flex;
               align-items: center;
               height:60px;
                 width: 80%;
                 margin-bottom: 1.5rem;
               a{
                   justify-content: space-evenly;
                color: #FFFFFf ;
                font-size: 18px;
                letter-spacing: 1px;
                font-weight: bold  !important;
                width: 10vw;
                line-height:2 ;

                   display: flex;
                   align-items: center i !important;
                   text-align: right;
                   span{
                     width: 40%;
                     text-align: left;
                     font-weight: 500;
                     text-transform: normal;
                   }

                           
} }
         }
        
    }
}
.active{
  
  background: linear-gradient(
    181.6deg
    ,#f7fbfe .74%,#fff 76.68%)  ;
  border-radius: 50px 0  0 50px;
  border-radius: -50px;
  margin-right:-4px;

  a{
  color:#0072b1
  !important;
  margin: 4%;
  width: 100%;
 position: relative;
 left: 2%;
  }
 }
 .sidebarLess{
   display: none;
 }