
.folders{
display: flex;

}

.tree{
    width: 20%;
    border: 1px solid rgba(34,36,38,.15);border-radius: 7px;
   margin: 5px;
   background: white;
}

.tree li {
    list-style-type: none;
    position: relative;
    
}
.tree li::before {
    content:'';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 2px solid #ccc;
    bottom: 50px;
}
.tree li::after {
    content:'';
    position: absolute;
    top: 10px;
    width: 15px;
    height: 30px;
    right: auto;
    left: -20px;
    border-top: 2px solid #ccc;
}
.tree li a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*Remove connectors before root*/
 .tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
 .tree li:last-child::before {
    height: 10px;
}
/*Time for some hover effects*/

/*We will apply the hover effect the the lineage of the element also*/
 .tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
}
/*Connector styles on hover*/
 .tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}
.folders{
  padding: 2%;
}
.foldersContent{
 width: 60%;
 margin: 5px;
 padding: 2%;
 background: #fff;
border: 1px solid rgba(34,36,38,.15);border-radius: 7px;
height: auto  !important;
}
.foldersItems{
  display: flex;
flex-wrap: wrap;
align-items: flex-start;

}
.pfc_content_item{
  background: #ECEFF3;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:10px ;
   display: flex;
      height: 30px;
      width: 250px;
      ;
      padding: 8px;
      border-radius: 8px;
    margin-left: 12.5px;
    align-items: center;
    justify-content: space-around;
     height: 100%;
        
      h3{
          margin: 8px;
          color:'#D0D1D7' i !important;
          font-size: 22px;
          font-weight: 500;
          white-space: nowrap;
        text-align: left;
          overflow: hidden;
          
      }
      p{
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: rgba(38,38,38,0.4);

    ;


      }
  }
