

.tree{
    width: 20%;
    border: 1px solid rgba(34,36,38,.15);border-radius: 7px;
   margin: 5px;
   background: white;
   height: auto;
   box-shadow:  0 0px 1px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 10%);;
   overflow-y: scroll;

}

.tree li {
    list-style-type: none;
    position: relative;
}
.tree li::before {
    content:'';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 2px solid #ccc;
    bottom: 50px;
}
.tree li::after {
    content:'';
    position: absolute;
    top: 10px;
    width: 15px;
    height: 30px;
    right: auto;
    left: -20px;
    border-top: 2px solid #ccc;
}
.tree li a {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
/*Remove connectors before root*/
 .tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
 .tree li:last-child::before {
    height: 10px;
}
/*Time for some hover effects*/

/*We will apply the hover effect the the lineage of the element also*/
 .tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
}
/*Connector styles on hover*/
 .tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}
.folders{
  padding: 2% 2%;
  display: flex;
  height: 90vh;
}


.foldersContent{
 width: 60%;
 margin: 5px;
 padding: 2%;
 background: #fff;
border: 1px solid rgba(34,36,38,.15);border-radius: 7px;
height: auto  !important;
max-width:  60vw;
height: auto;
box-shadow:  0 0px 1px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 10%);;

}
.foldersItems{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foldersRight{
  width: 20%;
  margin: 5px;
  padding: 2%;
  background: #fff;
 border: 1px solid rgba(34,36,38,.15);border-radius: 7px;
 height: auto  !important;
 max-width:  60vw;
 box-shadow:  0 0px 1px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 10%);;

 }
 

