@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');.App{

  padding: 0%;
  margin: 0%;
  box-sizing: border-box  !important;
  font-family: 'Roboto', sans-serif !important;
  background: #F5F6FA;

}
*{
  box-sizing: border-box;
}