@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');.App{

  padding: 0%;
  margin: 0%;
  box-sizing: border-box  !important;
  font-family: 'Montserrat', sans-serif !important;
  display: flex;
box-sizing: border-box;
padding: 0;
margin: 0;
background: #EEF0F1;
}
*{
  box-sizing: border-box;
}
main{
  width: 100%;
}
nav{
height: 100vh;
}